@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(circle at top left, #e0e7ff, transparent 40%), radial-gradient(circle at bottom right, #e0f2fe, transparent 50%);
}

html {
  scroll-behavior: smooth;
}

/* NEW ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-25px) translateX(20px) rotate(10deg);
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

.animate-float {
  animation: float ease-in-out infinite;
}